<template>
  <div>
    <div class="grid">
      <CTable :color="tableColor">
        <CTableBody>
          <CTableRow>
            <CTableHeaderCell scope="col">PP</CTableHeaderCell>

            <CTableHeaderCell scope="col"
              ><CButton
                @click="handleClickFilter('username')"
                class="grid--button-clickable"
              >
                Username
              </CButton></CTableHeaderCell
            >

            <CTableHeaderCell scope="col"
              ><CButton
                @click="handleClickFilter('keyword')"
                class="grid--button-clickable"
                >Theme</CButton
              ></CTableHeaderCell
            >

            <CTableHeaderCell scope="col"
              ><CButton
                @click="handleClickFilter('nbFollowers')"
                class="grid--button-clickable"
                >Followers</CButton
              ></CTableHeaderCell
            >

            <CTableHeaderCell scope="col"
              ><CButton
                @click="handleClickFilter('growth')"
                class="grid--button-clickable"
                >Last week's growth</CButton
              ></CTableHeaderCell
            >

            <CTableHeaderCell scope="col">Ad</CTableHeaderCell>
          </CTableRow>
          <CTableRow
            v-for="(instabot, index) in myInstabots"
            :key="instabot.id"
          >
            <CTableHeaderCell scope="col">
              <img :src="instabot.imageUrl" alt="pp" class="grid--image-size" />
            </CTableHeaderCell>
            <CTableDataCell>{{ instabot.username }}</CTableDataCell>
            <CTableDataCell>{{ instabot.keyword }}</CTableDataCell>
            <CTableDataCell>{{ instabot.nbFollowers }}</CTableDataCell>
            <CTableDataCell
              ><p
                :class="
                  lastWeeksgrowth(index)[0] === '-'
                    ? 'grid--text-red-color'
                    : 'grid--text-green-color'
                "
              >
                {{ lastWeeksgrowth(index) }}
              </p></CTableDataCell
            >
            <CTableDataCell
              ><CFormCheck
                id="flexCheckDefault"
                :value="instabot.ad"
                :checked="instabot.ad"
                @change="
                  (value) =>
                    handleClickAdCheckbox(instabot.id, value.srcElement.checked)
                "
            /></CTableDataCell>
          </CTableRow>
        </CTableBody>
      </CTable>
    </div>

    <CContainer>
      <CRow class="align-items-start justify-content-center">
        <CCol>
          <CPagination aria-label="Page navigation example">
            <CButton
              @click="handleChangeOffset(offset - 1)"
              class="grid--button-clickable"
            >
              <CPaginationItem>Previous</CPaginationItem>
            </CButton>

            <CButton
              @click="handleChangeOffset(0)"
              class="grid--button-clickable"
            >
              <CPaginationItem>1</CPaginationItem>
            </CButton>

            <CButton
              @click="handleChangeOffset(1)"
              class="grid--button-clickable"
            >
              <CPaginationItem>2</CPaginationItem>
            </CButton>

            <CButton
              @click="handleChangeOffset(2)"
              class="grid--button-clickable"
            >
              <CPaginationItem>3</CPaginationItem>
            </CButton>

            <CButton
              @click="handleChangeOffset(offset + 1)"
              class="grid--button-clickable"
            >
              <CPaginationItem>Next</CPaginationItem>
            </CButton>
          </CPagination>
        </CCol>
        <CCol xs="3">
          <CFormSelect
            aria-label="Select pagination"
            @change="(e) => handleChangeLimit(e.srcElement.value)"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </CFormSelect>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import {
  CPagination,
  CPaginationItem,
  CTable,
  CTableHead,
  CTableRow,
  CTableHeaderCell,
  CTableDataCell,
  CFormSelect,
  CContainer,
  CCol,
  CRow,
  CFormCheck,
} from "@coreui/vue";
import { mapGetters, mapActions } from "vuex";
import store from "@/store";

async function getInstabots() {
  return await store.dispatch("instabotStore/fetchInstabot", {
    limit: 5,
    offset: 0,
    filter: "username",
    order: "ASC",
  });
}

export default {
  components: {
    CPagination,
    CPaginationItem,
    CTable,
    CTableHead,
    CTableRow,
    CTableHeaderCell,
    CTableDataCell,
    CFormSelect,
    CContainer,
    CCol,
    CRow,
    CFormCheck,
  },
  async setup() {
    var myInstabots = await getInstabots();
    return { myInstabots };
  },
  mounted() {
    this.fetchInstabot({
      limit: 5,
      offset: 0,
      filter: this.filter,
      order: this.order,
    });
  },
  methods: {
    ...mapActions("instabotStore", [
      "fetchInstabot",
      "changeLimit",
      "changeOffset",
      "changeFilter",
      "changeOrder",
      "changeInstabotAd",
    ]),
    lastWeeksgrowth(index) {
      const ratio =
        this.instabots[index].nbFollowers /
        this.instabots[index].lastWeekNbFollowers;
      if (ratio >= 1) {
        return `+${Math.trunc(ratio * 100)}%`;
      } else {
        return `-${Math.trunc((1 - ratio) * 100)}%`;
      }
    },
    handleChangeLimit(limit) {
      this.changeLimit(limit);
      this.fetchInstabot({
        limit: this.limit,
        offset: this.offset,
        filter: this.filter,
        order: this.order,
      });
    },
    handleChangeOffset(offset) {
      if (
        offset >= 0 &&
        (this.instabots.length === this.limit || this.offset > offset)
      ) {
        this.changeOffset(offset);
      }
      this.fetchInstabot({
        limit: this.limit,
        offset: this.offset,
        filter: this.filter,
        order: this.order,
      });
    },
    handleClickFilter(filter) {
      if (this.filter === filter) {
        this.changeOrder(this.order === "ASC" ? "DESC" : "ASC");
      }
      this.changeFilter(filter);
      this.fetchInstabot({
        limit: 5,
        offset: 0,
        filter: filter,
        order: this.order,
      });
    },
    handleClickAdCheckbox(id, ad) {
      this.changeInstabotAd({ id, ad });
    },
  },
  computed: {
    ...mapGetters("instabotStore", [
      "mode",
      "instabots",
      "offset",
      "limit",
      "filter",
      "order",
    ]),
    tableColor() {
      return this.mode === "INSTAGRAM" ? "light" : "dark";
    },
  },
};
</script>

<style scoped>
.grid {
  padding-top: 24px;
  max-height: 410px;
  width: 530px;
  overflow-y: auto;
}
.grid--image-size {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.grid--text-green-color {
  color: forestgreen;
}
.grid--text-red-color {
  color: red;
}
.grid--button-clickable {
  cursor: pointer;
}
</style>
