<template>
  <div>
    <div class="grid">
      <CTable :color="tableColor">
        <CTableBody>
          <CTableRow>
            <CTableHeaderCell scope="col">PP</CTableHeaderCell>

            <CTableHeaderCell scope="col">Username</CTableHeaderCell>

            <CTableHeaderCell scope="col">Theme</CTableHeaderCell>

            <CTableHeaderCell scope="col">Followers</CTableHeaderCell>

            <CTableHeaderCell scope="col">Last week's growth</CTableHeaderCell>

            <CTableHeaderCell scope="col">Ad</CTableHeaderCell>
          </CTableRow>
          <CTableRow v-for="index in 5" :key="index">
            <CTableHeaderCell scope="col">
              <div class="grid--image" />
            </CTableHeaderCell>
            <CTableDataCell><p /></CTableDataCell>
            <CTableDataCell><p /></CTableDataCell>
            <CTableDataCell><p /></CTableDataCell>
            <CTableDataCell><p /></CTableDataCell>
            <CTableDataCell><p /></CTableDataCell>
          </CTableRow>
        </CTableBody>
      </CTable>
    </div>

    <CContainer>
      <CRow class="align-items-start justify-content-center">
        <CCol>
          <CPagination aria-label="Page navigation example">
            <CButton class="button-clickable">
              <CPaginationItem>Previous</CPaginationItem>
            </CButton>

            <CButton class="button-clickable">
              <CPaginationItem>1</CPaginationItem>
            </CButton>

            <CButton class="button-clickable">
              <CPaginationItem>2</CPaginationItem>
            </CButton>

            <CButton class="button-clickable">
              <CPaginationItem>3</CPaginationItem>
            </CButton>

            <CButton class="button-clickable">
              <CPaginationItem>Next</CPaginationItem>
            </CButton>
          </CPagination>
        </CCol>
        <CCol xs="3">
          <CFormSelect aria-label="Select pagination">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </CFormSelect>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import {
  CPagination,
  CPaginationItem,
  CTable,
  CTableRow,
  CTableHeaderCell,
  CTableDataCell,
  CFormSelect,
  CContainer,
  CCol,
  CRow,
} from "@coreui/vue";
import { mapGetters } from "vuex";
export default {
  components: {
    CPagination,
    CPaginationItem,
    CTable,
    CTableRow,
    CTableHeaderCell,
    CTableDataCell,
    CFormSelect,
    CContainer,
    CCol,
    CRow,
  },
  computed: {
    ...mapGetters("instabotStore", ["mode"]),
    tableColor() {
      return this.mode === "INSTAGRAM" ? "light" : "dark";
    },
  },
};
</script>

<style scoped>
.grid {
  padding-top: 24px;
  max-height: 410px;
  width: 530px;
  overflow-y: auto;
}
p {
  width: 80%;
  background-color: #ddd;
  height: 16px;
  line-height: 140%;
  margin-top: 15px;
}
.grid--image {
  background-color: #ddd;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
}
</style>
