<template>
  <div>
    <CNavbar color-scheme="light" :class="bgColor">
      <div class="header__logos">
        <CNavbarBrand
          href="#"
          class="header__instagram-logo"
          @click="this.handleClickLogo('INSTAGRAM')"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/640px-Instagram_icon.png"
            alt=""
            :class="logoSize('INSTAGRAM')"
          />
        </CNavbarBrand>
        <CNavbarBrand href="#" @click="this.handleClickLogo('TIKTOK')">
          <img
            src="https://icones.pro/wp-content/uploads/2021/03/logo-icone-tiktok-simbolo.png"
            alt=""
            :class="logoSize('TIKTOK')"
          />
        </CNavbarBrand>
      </div>
    </CNavbar>
  </div>
</template>

<script>
import { CNavbar, CContainer, CNavbarBrand } from "@coreui/vue";
import { mapActions, mapGetters } from "vuex";
import Mode from "@/models/mode";
export default {
  name: "Header",
  components: { CNavbar, CContainer, CNavbarBrand },
  computed: {
    ...mapGetters("instabotStore", ["mode"]),
    bgColor() {
      return this.mode === "INSTAGRAM" ? "bg-light" : "bg-dark";
    },
  },
  methods: {
    ...mapActions("instabotStore", ["changeMode"]),
    handleClickLogo(mode) {
      this.changeMode(mode);
    },
    logoSize(mode) {
      return this.mode === mode ? "header__logo-selected" : "header__logo";
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header__logos {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header__instagram-logo {
  padding-right: 24px;
}
.header__logo-selected {
  width: 32px;
  height: 32px;
}
.header__logo {
  width: 24px;
  height: 24px;
}
</style>
