<template>
  <div class="widget">
    <CWidgetStatsC
      class="mb-3"
      title="Followers"
      :color="mode === 'INSTAGRAM' ? 'light' : 'dark'"
    >
      <template #title>
        <div class="center-items">
          <p />
        </div>
        <div class="center-items">
          <p />
        </div>
      </template>
    </CWidgetStatsC>
  </div>
</template>

<script>
import { CWidgetStatsC } from "@coreui/vue";
import { mapGetters } from "vuex";
import { Mode } from "@/models/mode";
export default {
  components: {
    CWidgetStatsC,
  },
  computed: {
    ...mapGetters("instabotStore", ["mode"]),
  },
};
</script>

<style scoped>
.widget {
  padding-top: 24px;
}
p {
  width: 80%;
  background-color: #ddd;
  height: 16px;
  line-height: 140%;
}
.center-items {
  display: flex;
  justify-content: center;
}
</style>
