<template>
  <div class="widget">
    <CWidgetStatsC
      class="mb-3"
      :value="numberWithCommas(myTotalFollowers)"
      title="Followers"
      :color="mode === 'INSTAGRAM' ? 'light' : 'dark'"
    >
      <template #title>Followers</template>
    </CWidgetStatsC>
  </div>
</template>

<script>
import { CWidgetStatsC } from "@coreui/vue";
import { mapActions, mapGetters } from "vuex";
import { Mode } from "@/models/mode";
import store from "@/store";

async function getTotalFollowers() {
  return await store.dispatch("instabotStore/fetchTotalFollowers");
}

export default {
  components: {
    CWidgetStatsC,
  },
  async setup() {
    var myTotalFollowers = await getTotalFollowers();
    return { myTotalFollowers };
  },
  computed: {
    ...mapGetters("instabotStore", ["totalFollowers", "mode"]),
  },
  methods: {
    ...mapActions("instabotStore", ["fetchTotalFollowers"]),
    numberWithCommas(x) {
      if (x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      }
    },
  },
};
</script>

<style scoped>
.widget {
  padding-top: 24px;
}
</style>
