<template>
  <Header />
  <div :class="backgroundImage + ' background-image-size'">
    <CContainer>
      <CRow class="justify-content-start">
        <CCol xs="2">
          <Suspense>
            <template #default> <Widget /> </template>
            <template #fallback> <WidgetSkeleton /> </template>
          </Suspense>
        </CCol>
      </CRow>
      <CRow class="justify-content-center">
        <CCol xs="5">
          <Suspense>
            <template #default> <Grid /> </template>
            <template #fallback> <GridSkeleton /> </template>
          </Suspense>
        </CCol>
        <!-- <CCol xs="4"></CCol> -->
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Grid from "./components/Grid.vue";
import GridSkeleton from "./components/GridSkeleton.vue";
import Widget from "./components/Widget.vue";
import WidgetSkeleton from "./components/WidgetSkeleton.vue";
import { mapGetters } from "vuex";
import "@coreui/coreui/dist/css/coreui.min.css";
import { CContainer, CRow, CCol } from "@coreui/vue";

export default {
  name: "App",
  components: {
    Header,
    Grid,
    Widget,
    CContainer,
    CRow,
    CCol,
    WidgetSkeleton,
    GridSkeleton,
  },
  computed: {
    ...mapGetters("instabotStore", ["mode"]),
    backgroundImage() {
      return this.mode === "INSTAGRAM"
        ? "background-image-instagram"
        : "background-image-tiktok";
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.background-image-size {
  width: 1853px;
  height: 880px;
}
.background-image-instagram {
  background-image: url("https://mariawejman.fr/wp-content/uploads/2018/08/instagram-background-.png");
}
.background-image-tiktok {
  background-color: #000000;
}
</style>
